<!-- chat/templates/chat/chatroom.html -->
<!-- Author: Shelley Wong -->
<!-- Reference: 2 (see: CINS465-Shelley-Wong, README.md) -->
{% extends "base.html" %}

{% load static %}

{% block title %}
  Chat Room Forum
{% endblock %}

{% block body %}
<!-- used template from:
  https://foundation.zurb.com/sites/docs/xy-grid.html -->
  <div class="grid-container" id="main-body">
    <div class="grid-y medium-grid-frame">
      <div class="cell shrink header medium-cell-block-container">
        <h1 class="text-center sans-serif-text shadowed">Chat Room Forum</h1>
      </div>
      <div class="cell medium-auto medium-cell-block-container">
        <div class="grid-x grid-padding-x">
          <div class="cell medium-4 medium-cell-block-y main-text">
            <div class="main-text serif-text">
              <h5 class="serif-text text-center">Most Recent Messages</h5>
              <hr>
              {% for message in chat_messages %}
                <strong>{{ message.author }} : </strong>
                {{ message.message_html|safe }}
                <br>
              {% endfor %}
              ~ {{ most_recent.created_on }} UTC
            </div>
          </div>
          <div class="cell medium-8 medium-cell-block-y main-text">
            <div class="main-text serif-text">
              <h5 class="serif-text text-center">Chat Now</h5>
                <textarea readonly id="chat-log" cols="100" rows="15"></textarea>
                <br>
                <div class="serif-text input-group">
                  <input id="chat-message-input" type="text" size="100"
                    class="input-group-field searchfield"
                    style="font-size:16px;" placeholder="Enter Message Here">
                  <button id="chat-message-submit"
                    class="input-group-button button buttonL" value="Send">
                    <i class="material-icons" style="font-size:16px;">send</i>
                  </button>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src='{% static "js/chat.js" %}'></script>
{% endblock %}
