<!-- Author: Shelley Wong -->
{% extends "base.html" %}
{% load static %}

{% block title %}
  Face Match
{% endblock %}

{% block body %}
<!-- adapted templates from:
  https://foundation.zurb.com/sites/docs/xy-grid.html ,
  https://foundation.zurb.com/templates-previews-sites-f6-xy-grid/portfolio.html -->
  <div class="grid-container" id="main-body">
    <div class="grid-y medium-grid-frame">
      <div class="cell shrink header medium-cell-block-container">
        <h1 class="text-center sans-serif-text shadowed">
          Face Match
        </h1>
      </div>
      <div class="cell medium-auto medium-cell-block-container">
        <div class="grid-x grid-padding-x">
          <div class="cell large-10 large-offset-1
              medium-12 medium-cell-block-y main-text">
            <div class="main-text serif-text">
              <article class="grid-container">
                <div class="grid-x grid-margin-x small-up-2 medium-up-3 large-up-4">

                  <!-- <button class="button button1" onclick="myGame()">Start</button> -->
                  <!-- <div id="game"></div> -->

                    <!-- <button id="next_button" class="button button1" onclick="nextItem()">Start</button> -->
                    <!-- Number: <input type="number" id="output"> -->
                    <!-- <button onclick="buttonClick()">Click Me</button> -->
                    <div id="output"></div>
                  <!-- <div id="app-student">
                    <div v-for = "item in users">
                      <a v-bind:href="'/media/' + item.image + '/'">
                        <img class="thumbnail" v-bind:src="'/media/' + item.image + '/'"
                          alt="Student Profile Image" >
                      </a>
                    </div> -->
                  <div id="app-student" class="cell medium-4">
                    <div
                      v-for="(item, index) in users" v-if="index == i"
                      v-bind:item="item"
                      v-bind:index="index"
                      v-bind:key="item.id"
                      >
                      <a v-bind:href="'/media/' + item.image + '/'">
                        <img class="thumbnail" v-bind:src="'/media/' + item.image + '/'"
                          alt="Student Profile Image" >
                      </a>
                      <!-- {{ cur_student }} = {{ item.username }} -->
                      {% verbatim %}
                      <p>{{cur_student}}</p>
                      {% endverbatim %}
                      <!-- <button v-on:click="nextImage()">press</button> -->
                    </div>
                    <br>
                    <button class="button button1" v-on:click="i += 1">Next</button>
                  </div>
                  <!-- <div id="next-image">
                    <button class="button button1" v-on:click="counter += 1">Count</button>
                    {% verbatim %}
                    <p>The button above has been clicked {{ counter }} times.</p>
                    {% endverbatim %}
                  </div> -->
                </div>
              </article>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
<script src="{% static "js/people.js" %}"></script>
<script type="text/javascript">
  // var user_dict = JSON.parse("{{ user_list }}");
  // document.getElementById("output").innerHTML = user_dict;
</script>

{% endblock %}
