<!-- Author: Shelley Wong -->
{% extends "base.html" %}
{% load static %}

{% block title %}
  Team Roster
{% endblock %}

{% block body %}
<!-- adapted templates from:
  https://foundation.zurb.com/sites/docs/xy-grid.html ,
  https://foundation.zurb.com/templates-previews-sites-f6-xy-grid/portfolio.html -->
  <div class="grid-container" id="main-body">
    <div class="grid-y medium-grid-frame">
      <div class="cell shrink header medium-cell-block-container">
        <h1 class="text-center sans-serif-text shadowed">
          Team Roster
        </h1>
      </div>
      <div class="cell medium-auto medium-cell-block-container">
        <div class="grid-x grid-padding-x">
          <div class="cell large-10 large-offset-1
              medium-12 medium-cell-block-y main-text">
            <div class="main-text serif-text" id="app-roster">
              <article class="grid-container">
                <div class="grid-x grid-margin-x small-up-2 medium-up-3 large-up-4">
                  <!-- adapted from: https://vuejs.org/v2/guide/forms.html#Select -->
                  {% verbatim %}
                  <select v-model="selected" class="sans-serif-text">
                    <option disabled value="">Filter By:</option>
                    <option>First Name</option>
                    <option>Last Name</option>
                    <option>Username</option>
                  </select>
                   <!-- Selected: {{ selected }} -->
                  {% endverbatim %}

                  <!-- Adapted from:
                    https://vuejs.org/v2/guide/list.html#v-for-with-v-if -->
                  <div class="cell medium-3"
                    v-for="(item, index) in orderedUsers"
                    v-bind:item="item"
                    v-bind:index="index"
                    v-bind:key="item.id"
                    >
                    <a v-bind:href="'/media/' + item.image + '/'">
                      <img v-bind:src="'/media/' + item.image + '/'"
                        alt="Student Profile Image" class="thumbnail">
                    </a>
                    {% verbatim %}
                    <h6 class="sans-serif-text">
                      {{item.first_name}} {{ item.last_name }}
                    </h6>
                    <h6 class="sans-serif-text subheader">
                      Username: {{ item.username }}
                    </h6>
                    {% endverbatim %}
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static "js/roster.js" %}"></script>
{% endblock %}
