<!-- Author: Shelley Wong -->
{% extends "base.html" %}
{% load static %}

{% block title %}
  Team Roster
{% endblock %}

{% block body %}
<!-- adapted templates from:
  https://foundation.zurb.com/sites/docs/xy-grid.html ,
  https://foundation.zurb.com/templates-previews-sites-f6-xy-grid/portfolio.html -->
  <div class="grid-container" id="main-body">
    <div class="grid-y medium-grid-frame">
      <div class="cell shrink header medium-cell-block-container">
        <h1 class="text-center sans-serif-text shadowed">
          Team Roster
        </h1>
      </div>
      <div class="cell medium-auto medium-cell-block-container">
        <div class="grid-x grid-padding-x">
          <div class="cell large-10 large-offset-1
              medium-12 medium-cell-block-y main-text">
            <div class="main-text serif-text">
              <article class="grid-container">
                <div class="grid-x grid-margin-x small-up-2 medium-up-3 large-up-4"
                  id="app-roster">
                  <!-- adapted from: https://vuejs.org/v2/guide/forms.html#Select -->
                  {% verbatim %}
                  <select v-model="selected" class="sans-serif-text">
                    <option disabled value="">Filter By:</option>
                    <option>First Names A-M</option>
                    <option>First Names N-Z</option>
                    <option>Last Names A-M</option>
                    <option>Last Names N-Z</option>
                    <option>Usernames A-M</option>
                    <option>Usernames N-Z</option>
                    <option>Show All</option>
                  </select>
                   <!-- Selected: {{ selected }} -->
                  {% endverbatim %}

                  <!-- Adapted from:
                    https://vuejs.org/v2/guide/list.html#v-for-with-v-if -->
                  <div class="cell medium-3"
                    v-for="(item, index) in orderedUsers"
                    v-bind:item="item"
                    v-bind:index="index"
                    v-bind:key="item.id"
                    >
                    <a v-bind:href="'/media/' + item.image + '/'">
                      <img v-bind:src="'/media/' + item.image + '/'"
                        alt="Student Profile Image" class="thumbnail">
                    </a>
                    <h6 class="sans-serif-text">
                      {% verbatim %}
                      {{item.first_name}} {{ item.last_name }}
                      {% endverbatim %}
                    </h6>
                    <h6 class="sans-serif-text subheader">
                      Username:
                      <a v-bind:href="'/group/' + item.username + '/'">
                        {% verbatim %}
                        {{ item.username }}
                        {% endverbatim %}
                      </a>
                    </h6>
                  </div>
                </div>
                <hr>
                <div class="grid-x grid-margin-x small-up-2 medium-up-3 large-up-4">
                  <h4 class="sans-serif-text">
                    Your professors:
                  </h4>
                  {% for user in profs %}
                  <div class="cell medium-3">
                    <a href="/media/{{user.student_model.image}}">
                      <img class="thumbnail" src="/media/{{user.student_model.image}}"
                        v-bind:alt="user.student_model.image_description" >
                    </a>
                    <h6 class="sans-serif-text">
                      {{user.first_name}} {{ user.last_name }}
                    </h6>
                    <h6 class="sans-serif-text subheader">
                      Username:
                      <a href="/group/{{user.username}}/">{{ user.username }}</a>
                    </h6>
                  </div>
                  {% endfor %}
                </div>
              </article>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static "js/roster.js" %}"></script>
<!-- <script src="{% static "js/lodash.js" %}"></script> -->
<!-- <script src="https://raw.githubusercontent.com/lodash/lodash/4.17.10-npm/core.min.js"></script> -->
{% endblock %}
