/* Author: Shelley Wong */
@import "foundation.css";

a:active,
a:hover {
  color: #00008B;
  outline-width: 0;
}

body {
  background: #DCDCDC;
  overflow-x: hidden;
}

/* font style */
.sans-serif-text {
  font-family: "Optima", sans-serif;
}

.serif-text {
  font-family: "Garamond", serif;
}

/* navigation bar style */
.top-bar {
  font-family: "Optima", sans-serif;
  background: #808080;
  border-radius: 5px;
}

/* main body style */
#main-body {
  padding: 80px 30px;
}

.div-text {
  padding: 0px 5px;
  background: #F5F5F5;
}

.main-text {
  font-size: 17px;
  padding: 20px 30px;
  background: #F5F5F5;
}

/* footer style */
#foot-body {
  border-style: solid;
  border-width: 10px;
  border-bottom: 40px solid #808080;
  border-radius: 5px;
  border-color: #808080;
  padding: 20px 0px;
  background: #DCDCDC;
}

.foot-text {
  font-size: 15px;
  padding: 20px 80px;
}
