<!-- Author: Shelley Wong -->
{% extends "base.html" %}

{% block title %}
  Login
{% endblock %}

{% block body %}
<!-- used template from:
  https://foundation.zurb.com/sites/docs/xy-grid.html -->
  <div class="grid-container" id="main-body">
    <div class="grid-y medium-grid-frame">
      <div class="cell shrink header medium-cell-block-container">
        <h1 class="text-center sans-serif-text">Login</h1>
      </div>
      <div class="cell medium-auto medium-cell-block-container">
        <div class="grid-x grid-padding-x">
          <!--<div class="cell medium-3 medium-cell-block-y"></div> -->
          <div class="cell medium-6 medium-offset-3 medium-cell-block-y main-text">
            <div class="main-text serif-text">

              <form action="{% url 'login' %}" class="main-text serif-text" method="post">
                {% csrf_token %}
                {{ form.errors }}
                <label>{{ form.username.label_tag }}</label>
                {{ form.username }}
                <label>{{ form.password.label_tag }}</label>
                {{ form.password }}
                <input type="submit" class="button expanded buttonL" value="Login" />
                <hr>
                <div class="text-center">
                  New Here?
                  <a href="/register/" class="button expanded button1">Register</a>
                  <input type="hidden" name="next" value="/" />
              </div>
              </form>
            <!--  <div class="main-text serif-text">Username or email:<br>
                <input type="text" placeholder="username"><br>
                Password:<br>
                <input type="text" placeholder="password"></br>
                <button type="button" class="button expanded buttonL">Sign in</button>
                <hr>
                <div class="text-center"> New here?
                  <a href="suggestion/" class="button expanded button1">Register</a>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
