<!-- Author: Shelley Wong -->
{% extends "base.html" %}

{% block title %}
  Register
{% endblock %}

{% block body %}
<!-- used template from:
  https://foundation.zurb.com/sites/docs/xy-grid.html -->
  <div class="grid-container" id="main-body">
    <div class="grid-y medium-grid-frame">
      <div class="cell shrink header medium-cell-block-container">
          <h1 class="text-center sans-serif-text shadowed">Sign up here!</h1>
          <h4 class="text-center sans-serif-text">(It's free and easy)</h4>
        </p>
      </div>
      <div class="cell medium-auto medium-cell-block-container">
        <div class="grid-x grid-padding-x">
          <!--<div class="cell medium-3 medium-cell-block-y"></div> -->
          <div class="cell medium-6 medium-offset-3 medium-cell-block-y main-text">
            <div class="main-text serif-text">

              <form action="registration/register/" class="main-text serif-text" method="post">
                {% csrf_token %}
                {{ form.errors }}
                {{ form.username.label_tag }}
                {{ form.username }}
                {{ form.email.label_tag }}
                {{ form.email }}
                {{ form.password1.label_tag }}
                {{ form.password1 }}
                {{ form.password2.label_tag }}
                {{ form.password2 }}
                <input type="submit" class="button expanded button1" value="Register"/>
              </form>
            <!--  <div class="main-text serif-text">Username or email:<br>
                <input type="text" placeholder="username"><br>
                Password:<br>
                <input type="text" placeholder="password"></br>
                <button type="button" class="button expanded buttonL">Sign in</button>
                <hr>
                <div class="text-center"> New here?
                  <a href="suggestion/" class="button expanded button1">Register</a>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
