<!-- Author: Shelley Wong -->
{% extends "base.html" %}

{% load static %}

{% block title %}
  Comments
{% endblock %}

{% block body %}
<!-- used template from:
  https://foundation.zurb.com/sites/docs/xy-grid.html -->
  <div class="grid-container" id="main-body">
    <div class="grid-y medium-grid-frame">
      <div class="cell shrink header medium-cell-block-container">
        <h1 class="text-center sans-serif-text shadowed">Comment on a Post</h1>
        <h4 class="text-center sans-serif-text">
          {% load tz %}
          {{date|date:'l'}} {{date|timezone:"America/Los_Angeles"}}
          - {{date|date:'m/d/Y g:i A T'}}
        </h4>
      </div>
      <div class="cell medium-auto medium-cell-block-container">
        <div class="grid-x grid-padding-x">
          <div class="cell medium-8 medium-cell-block-y main-text">
            <div class="main-text serif-text">
              <h3 class="serif-text">Make a Comment:</h3>
              <hr>
              <form action="/comment/{{ post_topic_id }}/" method="POST">
                {% csrf_token %}
                {{ post_comm.errors }}
                {{ post_comm.comment.label_tag }}
                {{ post_comm.comment }}
                <input type="submit" class="button button1" value="Submit Comment"/>
              </form>
              <hr>
            </div>
          </div>
          <div class="cell medium-4 medium-cell-block-y main-text">
            <div class="main-text serif-text">
              <h3 class="serif-text">Current Post:</h3>
              <hr>
              <div class="text-left" id="post-comment">
                <div v-for = "item in posts" v-if="{{ post_topic_id }} == item.id">
                  {% verbatim %}
                    <h3 class="serif-text">{{ item.subject }}<h3>
                    <h6 class="sans-serif-text">{{ item.details }}</h6>
                    <h6 class="sans-serif-text subheader">
                      Posted by {{ item.author }} on {{ item.created_on }} UTC
                    </h6>
                    <ul>
                      <li class="sans-serif-text" v-for="comm in item.comments">
                        {{ comm.comment }}
                        <span class="sans-serif-text subheader">
                          - {{ comm.author }}, {{ comm.created_on }} UTC
                        </span>
                      </li>
                    </ul>
                  {% endverbatim %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
<script src="{% static "js/post.js" %}"></script>
{% endblock %}
