<!-- Author: Shelley Wong -->
{% extends "base.html" %}
{% load static %}

{% block title %}
  {{ site_name }}
{% endblock %}

{% block body %}
<!-- used template from:
  https://foundation.zurb.com/sites/docs/xy-grid.html -->
  <div class="grid-container" id="main-body">
    <div class="grid-y medium-grid-frame">
      <div class="cell shrink header medium-cell-block-container">
        {% if user.is_authenticated %}
        <div id="app2">
          <span v-bind:title="hovermessage">
            <h1 class="text-center sans-serif-text welcome">
              Welcome to {{ site_name }}!
            </h1>
          </span>
        </div>
        {% else %}
        <h1 class="text-center sans-serif-text welcome">Welcome to {{ site_name }}!</h1>
        <h4 class="text-center sans-serif-text">
          {{ message }}
        <!--  Simple to use. No cost to you.
          A safe place to connect with your class and communicate better. -->
        </h4>
        <br>
        {% endif %}
      </div>
      {% if user.is_authenticated %}
      <div class="cell medium-auto medium-cell-block-container">
        <div class="grid-x grid-padding-x">
          <div class="cell medium-8 medium-cell-block-y main-text">
            <div class="main-text serif-text">
              <h1 class="serif-text text-center">Forum</h1>
              <!-- {% for user in user_list %}
                  ID: {{ user.id }}
                  Username: {{ user.username }}
                  Name: {{user.first_name}} {{ user.last_name }}
                  About: {{ user.student_model.about }}
                  Image: {{student.image_description }}
                  <img src="/media/{{user.student_model.image}}"
                    v-bind:alt="student.image_description" width="42">
                    <br>
              {% endfor %} -->
              <hr>
              <!-- <div class="text-justify">
                {% for item in post_list %}
                  <h3 class="serif-text">{{ item.subject }}<h3>
                  <h6 class="sans-serif-text">{{ item.details }}</h6>
                  <h6 class="sans-serif-text subheader">
                    Posted by {{ item.author }} on {{ item.created_on }} UTC
                  </h6>
                  <a class="button button1" v-bind:href="'/comment/'+ item.id +'/'">Comment</a>
                  <hr>
                {% endfor %}
              </div> -->

              <div id="app-post">
                <ul class="text-justify">
                  <li v-for = "item in posts">
                    {% verbatim %}
                    <h3 class="serif-text">{{ item.subject }}<h3>
                    <h6 class="sans-serif-text">{{ item.details }}</h6>
                    <h6 class="sans-serif-text subheader">
                      Posted by {{ item.author }} on {{ item.created_on }} UTC
                    </h6>
                    <a v-bind:href="'/comment/'+ item.id +'/'" class="button buttonL rounded small">
                      <i class="material-icons" style="font-size:14px;">comment</i>
                    </a>
                    <!-- <a class="button button1" v-bind:href="'/comment/'+ item.id +'/'">Comment</a> -->
                    <ul>
                      <li v-for="comm in item.comments">
                        <div class="sans-serif-text">{{ comm.comment }}
                          <div class="sans-serif-text subheader">
                            Posted by {{ comm.author }} on {{ comm.created_on }} UTC
                          </div>
                        </div>
                      </li>
                    </ul>
                    <hr>
                    {% endverbatim %}
                  </li>
                </ul>
              </div>

            </div>
          </div>
          <div class="cell medium-4 medium-cell-block-y main-text">
            <div class="main-text serif-text">
              <!-- Adapted from: https://foundation.zurb.com/sites/docs/forms.html -->
              <div class="serif-text input-group">
                <input class="input-group-field searchfield" type="search"
                  style="font-size:18px;" placeholder="Search">
                <button class="input-group-button button buttonL">
                  <i class="material-icons" style="font-size:18px;">search</i>
                </button>
              </div>
              <div class="serif-text text-center">
                <hr>
                <a href="forum/" class="button button1">
                  <h5 class="serif-text">Add to the Conversation</h5>
                  <i class="material-icons" style="font-size:24px;">message</i>
                </a>
              </div>
              <hr>
              <h3 class="serif-text text-center">Recent Posts:</h3>
              <div class="text-center" id="app-suggestion">
                <ul class="text-center nobullet">
                  {% for item in post_list %}
                  <li><a href="#">{{ item.subject }}</a></li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% else %}
      <div class="grid-x grid-padding-x">
        <div class="cell large-4 large-offset-4 medium-6 medium-offset-3 serif-text">
            <a href="/login/" class="button large expanded buttonL rounded">Login</a>

            <a href="/register/" class="button large expanded buttonR rounded">Register</a>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block scripts %}
<script src="{% static "js/vueapp.js" %}"></script>
{% endblock %}
