<!-- Author: Shelley Wong -->
{% extends "base.html" %}

{% block title %}
  {{ message }}
{% endblock %}

{% block body %}
<!-- used template from:
  https://foundation.zurb.com/sites/docs/xy-grid.html -->
  <div class="grid-container" id="main-body">
    <div class="grid-y medium-grid-frame">
      <div class="cell shrink header medium-cell-block-container">
        <h1 class="text-center sans-serif-text welcome">Welcome to {{ message }}!</h1>
        {% if user.is_authenticated %}
        <div class="grid-x grid-padding-x">
          <div class="cell large-6 large-offset-2 medium-6">
            <h4 class="text-left sans-serif-text">
              {% load tz %}
              {{date|date:'l'}}
              {{date|timezone:"America/Los_Angeles"}}
            </h4>
          </div>
          <div class="cell large-4 medium-6">
            <h4 class="text-right sans-serif-text">
              <ul class="menu">
                <li><input type="search" class="searchfield" style="font-size:18px;" placeholder="Search"></li>
                <li><button type="button" class="button button1">
                  <i class="material-icons" style="font-size:18px;">search</i></button>
                </li>
              </ul>
            </h4>
          </div>
        </div>
        {% endif %}
      </div>
      {% if user.is_authenticated %}
      <div class="cell medium-auto medium-cell-block-container">
        <div class="grid-x grid-padding-x">
          <div class="cell medium-8 medium-cell-block-y main-text">
            <div class="main-text serif-text">
              <h1 class="serif-text text-center">Make a Suggestion:
                <a href="suggestion/" class="button large button1">Suggestions</a>
              </h1>
              <h1 class="serif-text text-center">Practice Form:
                <a href="book/" class="button large button1">Enter a Book</a>
              </h1>
            <!--  {% load tz %} {% get_current_timezone as TIME_ZONE %} -->
              <h4 class="serif-text text-center">
                {{date|date:'l'}}
                {{date|timezone:"America/Los_Angeles"}}
              </h4>
              <p class="serif-text text-center">
                ( {{date|date:'D d M Y g:i A T'}} )
              </p>
            </div>
          </div>
          <div class="cell medium-4 medium-cell-block-y main-text">
            <div class="main-text serif-text">
              <h3 class="serif-text">Hola Mundo</h3>
              <hr>
              <p class="text-justify">
              Garita el asusta si ademas ir rincon. Loza una caso del paga pie
              asi. Venir la panza ha notar da atado gacha te teson. Cuore son
              habil rapaz del oro tabla tener mas detto. Aparejada izquierdo
              elegantes ahi etc. Criadas parecer van don mejores pasable del.
              Habas ahi feo trapo negra heroe nasal. Corria en cuerda ch me
              rumiar volvia mundos la. Se ti logrono la lateral rapidos tu
              cabrero sarebbe muertas. Oro renovacion terciopelo deliciosos sus
              cualquiera voz secretario constituia.
              </p>
              <h3 class="serif-text">Bonjour Monde</h3>
              <hr>
              <p class="text-justify">
              Couleurs interdit continue ont peu. Certitude oh entremise je
              ameliorer gachettes. Rage pont par vous etat mur nees. Ils bonne
              domes ete seuls que repit aux. Les feeriques esplanade six
              incapable air sol. Le bonte la du ou parmi sales.
              </p>
              <h3 class="serif-text">Hallo Welt</h3>
              <hr>
              <p class="text-justify">
              Habs bi dies en satz. Oha was gefallt woruber erzahlt das stellte
              steigst tat glatten. Ige der kraftiger schneider plaudernd vom
              schonsten. Es du kenne vater stuck. Namlich abwarts gut mundart
              gab tur nur. Viele du immer szene leise kaute so.
              </p>
            </div>
          </div>
        </div>
      </div>
      {% else %}
      <div class="grid-x grid-padding-x">
        <div class="cell large-4 large-offset-4 medium-6 medium-offset-3 serif-text">
            <a href="/login/" class="button large expanded buttonL">Login</a>

            <a href="/register/" class="button large expanded buttonR">Register</a>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
