<!-- Author: Shelley Wong -->
{% extends "base.html" %}

{% block title %}
  {{ message }}
{% endblock %}

{% block nav-bar %}
<!-- used template from:
  https://foundation.zurb.com/sites/docs/responsive-navigation.html -->
  <div class="title-bar" data-responsive-toggle="main-menu"
    data-hide-for="medium">
    <button class="menu-icon" type="button" data-toggle="main-menu"></button>
    <a class="title-bar-title" href="/"><b>home</b>room</a>
  </div>
  <div class="top-bar" id="main-menu">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <a class="logo" href="/"><b>home</b>room</a>
        <li class="has-submenu">
          <a href="#">About</a>
          <ul class="submenu menu vertical" data-submenu>
            <li><a href="#">uno</a></li>
            <li><a href="#">dos</a></li>
            <li><a href="#">tres</a></li>
          </ul>
        </li>
        <li class="has-submenu">
          <a href="#">Forum</a>
          <ul class="submenu menu vertical" data-submenu>
            <li><a href="#">un</a></li>
            <li><a href="#">deux</a></li>
            <li><a href="#">trois</a></li>
          </ul>
        </li>
        <li class="has-submenu">
          <a href="#">Meet</a>
          <ul class="submenu menu vertical" data-submenu>
            <li><a href="#">eins</a></li>
            <li><a href="#">zwei</a></li>
            <li><a href="#">drei</a></li>
          </ul>
        </li>
        <li class="has-submenu">
          <a href="#">Your Profile</a>
        </li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        <a href="#" class="button buttonL">Login</button></a>
        <a href="#" class="button buttonR">Register</button></a>
      </ul>
    </div>
  </div>
{% endblock %}

{% block body %}
<!-- used template from:
  https://foundation.zurb.com/sites/docs/xy-grid.html -->
  <div class="grid-container" id="main-body">
    <div class="grid-y medium-grid-frame">
      <div class="cell shrink header medium-cell-block-container">
        <h1 class="text-center sans-serif-text">Login</h1>
      </div>
      <div class="cell medium-auto medium-cell-block-container">
        <div class="grid-x grid-padding-x">
          <div class="cell medium-3 medium-cell-block-y"></div>
          <div class="cell medium-6 medium-cell-block-y main-text">
            <div class="main-text serif-text">
              <div class="main-text serif-text">Username or email:<br>
                <input type="text" placeholder="username"><br>
                Password:<br>
                <input type="text" placeholder="password"></br>
                <button type="button" class="button expanded buttonL">Sign in</button>
                <hr>
                <div class="text-center"> New here?
                  <a href="suggestion/" class="button expanded button1">Register</a>
                </div>
              </div>
            </div>
          </div>
          <div class="cell medium-3 medium-cell-block-y"></div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block footer %}
<!-- based on tutorial from:
  https://foundation.zurb.com/learn/building-a-responsive-footer-with-foundation-6-gary-jenning.html -->
  <div>
    <footer class="cell shrink footer">
      <div id="foot-body">
        <div class="grid-x grid-padding-x foot-text">
          <div class="cell large-4 medium-6">
            <h4 class="text-left sans-serif-text">Contact Info</h4>
            <hr>
            <p class="serif-text">Phone: <a href="#">555-123-4567</a><br>
              Email: <a href="#">CSstudent@mail.csuchico.edu</a><br>
              Address: <a href="#">400 W 1st St, Chico, CA 95929</a></p>
          </div>
          <div class="cell large-4 medium-6">
            <h4 class="text-left sans-serif-text">Site Map</h4>
            <hr>
            <p class="serif-text"><a href="#">About Us</a><br>
              <a href="#">Forum</a><br>
              <a href="#">Meet Your Class</a><br>
              <a href="#">Your Profile</a></p>
          </div>
          <div class="cell auto large-text-right">
            <h1><a class="logo" href="/"><b>home</b>room</a></h1>
          </div>
        </div>
      </div>
    </footer>
  </div>
{% endblock %}
