<!-- Author: Shelley Wong -->
{% extends "base.html" %}

{% block title %}
  Profile Page
{% endblock %}

{% block body %}
<!-- used template from:
  https://foundation.zurb.com/sites/docs/xy-grid.html -->
  <div class="grid-container" id="main-body">
    <div class="grid-y medium-grid-frame">
      <div class="cell shrink header medium-cell-block-container">
        <h1 class="text-center sans-serif-text shadowed">
          {{ user.first_name }} {{ user.last_name }}'s Profile
        </h1>
      </div>
      <div class="cell medium-auto medium-cell-block-container">
        <div class="grid-x grid-padding-x">
          <div class="cell medium-6 medium-offset-3 medium-cell-block-y main-text">
            <div class="main-text serif-text">
              <ul class="vertical menu">
                <li>ID: {{ user.id }}</li>
                <li>Username: {{ user.username }} </li>
                <li>First Name: {{ user.first_name }} </li>
                <li>Last Name: {{ user.last_name }} </li>
                <li>Email Address: {{ user.email }} </li>
              </ul>
              <br>
              <a href="edit_profile/" class="button expanded button1">Edit Profile</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
