<!-- Author: Shelley Wong -->
{% extends "base.html" %}
{% load static %}

{% block title %}
  Profile Page
{% endblock %}

{% block body %}
<!-- used template from:
  https://foundation.zurb.com/sites/docs/xy-grid.html -->
  <div class="grid-container" id="main-body">
    <div class="grid-y medium-grid-frame">
      <div class="cell shrink header medium-cell-block-container">
        <h1 class="text-center sans-serif-text shadowed">
          {{ user.first_name }} {{ user.last_name }}'s Profile
        </h1>
      </div>
      <div class="cell medium-auto medium-cell-block-container">
        <div class="grid-x grid-padding-x">
          <div class="cell large-6 large-offset-3
              medium-8 medium-offset-2 medium-cell-block-y main-text">
            <div class="main-text serif-text">
              <div class="cell medium-auto medium-cell-block-container">
                <div class="grid-x grid-padding-x">
                  <div class="cell medium-4 main-text">
                    <img src="/media/{{user.student_model.image}}"
                      alt="{{user.student_model.image_description}}" width="150">
                  </div>
                  <div class="cell medium-8">
                    <ul class="vertical menu">
                <!-- <li><img v-bind:src="'/media/'+ student_image"
                  v-bind:alt="student.image_description" width="42"></li> -->
                      <li>ID: {{ user.id }}</li>
                      <li>Username: {{ user.username }} </li>
                      <li>Full Name: {{ user.first_name }} {{ user.last_name }}</li>
                      <li>Email Address: {{ user.email }} </li>
                      <li>About: {{ user.student_model.about }}</li>
                <!-- <li> {{ student_image }}</li>
                <li> {{ img_desc }}</li>
                <li>Profile Picture: <img v-bind:src="'/media/' + user.student_model.image" width=42></li>
                <li>Profile Picture: <img src="/media/{{user.student_model.image}}" width=42></li>
                <li>Profile Picture: <img src="/media/uploads/2018/04/15/Morty.png" width=42></li> -->
                  </ul>
                  <br>
                  <a href="edit_profile/" class="button expanded button1">
                    Update Your Information
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
