<!-- Author: Shelley Wong -->
{% extends "base.html" %}

{% load static %}

{% block title %}
  {{ message }}
{% endblock %}

{% block body %}
<!-- used template from:
  https://foundation.zurb.com/sites/docs/xy-grid.html -->
  <div class="grid-container" id="main-body">
    <div class="grid-y medium-grid-frame">
      <div class="cell shrink header medium-cell-block-container">
        <h1 class="text-center sans-serif-text">{{ message }}</h1>
        <div class="grid-x grid-padding-x">
          <div class="cell medium-4">
            <h5 class="text-right sans-serif-text">
              {% if example_list|length > 1 %}
                <em>{{ class_num }} {{ message }}</em>
                {% for item in example_list %} {{ item }} {% endfor %}
              {% else %}
                None
              {% endif %}
            </h5>
          </div>
          <div class="cell medium-4 medium-cell-block">
            <h5 class="div-text sans-serif-text" style="width: 80vw;">
              {% if example_list2|length > 1 %}
                <em>{{ class_num }} {{ message }}</em>
                {% for item in example_list2 %} {{ item }} {% endfor %}
                <em>{{ class_num }} {{ message }}</em>
                {% for item in example_list2 %} {{ item }} {% endfor %}
                <em>{{ class_num }} {{ message }}</em>
              {% else %}
                None
              {% endif %}
            </h5>
          </div>
          <div class="cell medium-4">
            <h5 class="text-left sans-serif-text">
              {% if example_list|length > 1 %}
                <em>{{ class_num }} {{ message }}</em>
                {% for item in example_list %} {{ item }} {% endfor %}
              {% else %}
                None
              {% endif %}
            </h5>
          </div>
        </div>
      </div>
      <div class="cell medium-auto medium-cell-block-container">
        <div class="grid-x grid-padding-x">
          <div class="cell medium-8 medium-cell-block-y main-text">
            <div class="main-text serif-text">
              <h3 class="serif-text">{{ message }}</h3>
              <div id="app1">
                {% verbatim %}
                <button class="button large button1" v-on:click="greet">Greetings!</button>
                <!--  <h3 class="serif-text">{{ msg }}</h3> -->
                {% endverbatim %}
              </div>
              <h3 class="serif-text">Please give us your suggestions here:</h3>
              <hr>
              <form action="/suggestion/" method="post">
                {% csrf_token %}
                {{ form.author.errors }}
                {{ form.author.label_tag }}
                {{ form.author }}

                {{ form.suggestion.errors }}
                {{ form.suggestion.label_tag }}
                {{ form.suggestion }}
                <input type="submit" class="button button1" value="Submit Suggestion"/>
              </form>
              <h3 class="serif-text">Suggestions</h3>
              <hr>
              <div id="app-suggestion">
                <ul class="text-justify">
                <!--{% for item in suggestion_list %}
                  <li>{{ item.id }} : {{ item.suggestion }}, {{ item.author }}</li>
                {% endfor %}-->
                  <li v-for = "item in suggestions">
                    {% verbatim %}
                    {{ item.id }}: {{ item.author }}, {{ item.suggestion }}
                    - Created on: {{ item.created_on }}

                  <!--  <input type="submit" class="button button1" value="Add Comment"/> -->

                <!--    <form action="/suggestion/" method="delete">
                      <input type="submit" class="button button1" value="Delete Suggestion"/>
                    </form> -->

                    <ul>
                      <li v-for="comm in item.comments">
                        {{ comm.comment }} - {{ comm.created_on }}
                      </li>
                    </ul>
                    {% endverbatim %}
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="cell medium-4 medium-cell-block-y main-text">
            <div class="main-text serif-text">
              <div id="app2">
                <span v-bind:title="hovermessage">
                  <h3 class="serif-text">Hola Mundo!</h3>
                </span>
              </div>
              <hr>
              <p class="text-justify">
              Garita el asusta si ademas ir rincon. Loza una caso del paga pie
              asi. Venir la panza ha notar da atado gacha te teson. Cuore son
              habil rapaz del oro tabla tener mas detto. Aparejada izquierdo
              elegantes ahi etc. Criadas parecer van don mejores pasable del.
              Habas ahi feo trapo negra heroe nasal. Corria en cuerda ch me
              rumiar volvia mundos la. Se ti logrono la lateral rapidos tu
              cabrero sarebbe muertas. Oro renovacion terciopelo deliciosos sus
              cualquiera voz secretario constituia.
              </p>
              <h3 class="serif-text">Bonjour Monde</h3>
              <hr>
              <p class="text-justify">
              Couleurs interdit continue ont peu. Certitude oh entremise je
              ameliorer gachettes. Rage pont par vous etat mur nees. Ils bonne
              domes ete seuls que repit aux. Les feeriques esplanade six
              incapable air sol. Le bonte la du ou parmi sales.
              </p>
              <h3 class="serif-text">Hallo Welt</h3>
              <hr>
              <p class="text-justify">
              Habs bi dies en satz. Oha was gefallt woruber erzahlt das stellte
              steigst tat glatten. Ige der kraftiger schneider plaudernd vom
              schonsten. Es du kenne vater stuck. Namlich abwarts gut mundart
              gab tur nur. Viele du immer szene leise kaute so.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
<script src="{% static "js/vueapp.js" %}"></script>
{% endblock %}
